/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* common style */
* {
    font-family: 'Work Sans', sans-serif;

}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

.text-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
}

nav ul li a {
    text-decoration: none;
}

/* banner style start */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner img {
    width: 100%;
    margin-top: 20px;
}



/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams section style */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-content .teams-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-content .quick {
    font-weight: 500;
    color: #727272;
}

.teams-content .text-feature {
    color: #FF900E;
}

.teams-content p {
    margin: 24px 0px 32px 0px;
}

/* feature section style */
.feature {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature-content .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    padding: 30px;
}

.ten-year {
    border-radius: 8px;
    background: #FF900E;
    width: 342px;
    text-align: center;
    padding: 45px;
    position: relative;
    bottom: 100px;
    left: -50px;

}

.feature-img img {
    margin-left: 50px;
}

.ten-year h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.ten-year p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px 0 0 0;
}

/* fact section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    text-align: center;
    border-radius: 8px;
    padding: 30px;
    border: 1px solid #FF900E;
}

.card .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0px 10px 0px;
}

.card .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
}

.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* footer section */
footer {
    max-width: 1440px;
    width: 75%;
    margin: 130px auto 50px;
    border-radius: 8px;
    background: #FFF4E7;
    border: 0;
    text-align: center;
}

.footer p {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 400;
    padding: 40px 0px;
}

/* media quires*/
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    nav ul,
    .feature,
    .sponsors-img-container,
    .facts-card-container {
        flex-direction: column;
    }

    .feature-img img {
        margin-left: 0;
        max-width: 80%;
    }
     .feature-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0; 
    }
    .ten-year {
        width:50%;
        text-align: center;
        padding: 0;
    
    }
    .ten-year {
        left: 0;
    }

    .facts {
        gap: 20px;
        padding: 20px;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
}

@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 20px;
    }

    nav,
    .feature,
    .sponsors-img-container {
        flex-direction: column;
    }

    .feature-img img {
        margin-left: 0;
        max-width: 80%;
    }
     .feature-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0; 
    }
    .ten-year {
        left: 0;
    }

    .teams-container {
        flex-direction: column-reverse;
    }

    .teams-img-container {
        margin-top: 30px;
    }
}